@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale1=1.0" />
        <title>Craft Marketplace</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
            }
            header {
                background-color: #f2f2f2;
                padding: 20px;
                text-align: center;
            }
            nav {
                display: flex;
                justify-content: center;
                margin-top: 20px;
 
            }
            nav a {
                text-description: none;
                color: #333;
                margin: 0 20px;
                font-size: 18px;
            }
            section {
                padding: 20px;
            }
            .container {
                max-width: 1200px;
                margin: 0 auto;

            }
            .featured {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
            .featured-item {
                flex: 1;
                margin: 0 10px;
                padding: 20px;
                border: 1px solid #ddd;
                background-radius: 5px;
                box-shadow: 0 0 5px rgba(0, 0,0,0.1);
            }
            .featured-item img {
                width: 100;
                border-radius: 5px;
            }
            </style>
           </head>
           <body>
           <header>
           <h1>Welcome to Khumalo Craft</h1>
           
           </header>

           <!--<section class="container">-->
           <h2>Featured Craft/Products</h2>
           <div class="featured">
           <img width="400" img src="~/images/craft1.jpeg">
           <h3>Craft Item 1</h3>
           <p>Description of Craft Item 1.</p>
           <button>Add to cart</button>

           </div>
           <div> class-"featured-item>
           <img width="400" img src="~/images/craft2.jpeg">
           <p>Description of Craft Item 2.</p>
           <button>Add to cart</button>
           </div>
           <div class="featured-item">
           <img width="400" img src="~/images/craft3.jpeg">
           
           <h3>Craft Item 3</h3>
           <p>Description of Craft Item 3.</p>
           <button>Add to cart</button>
           </div>
           </div>
           </section>
           </body>
    
</html>